//Colors
$white: hsl(0, 0%, 100%);
$lightRed: hsl(15, 100%, 70%);
$softCyan: hsl(174, 77%, 80%);
$paleBlue: hsl(226, 100%, 87%);
$strongCyan: hsl(174, 86%, 45%);
$grayishBlue: hsl(225, 20%, 60%);
$veryPaleBlue: hsl(230, 100%, 99%);
$lightGrayishRed: hsl(14, 92%, 95%);
$lightGrayishBlue: hsl(224, 65%, 95%);
$lightGrayishBlue: hsl(223, 50%, 87%);
$darkDesaturatedBlue: hsl(227, 35%, 25%);
$purpleGradientLight: hsl(236, 72%, 79%);
$purpleGradientDarker: hsl(237, 63%, 64%);
